.chatbot__sidebar .sidebar__chats {
  gap: 1.5rem;
}

.chatbot__sidebar .sidebar__chats .chats__group .group__title {
  display: inline-block;
  padding: 0px 0.5rem;
  margin-bottom: 0.375rem;
  color: var(--white--500, rgba(255, 255, 255, 0.5));
}
